<%= form_for @country do |f| %>
  <p>
    <%= f.label :country_name %>
    <%= f.text_field :country_name %>
  </p>
  <p>
    <%= f.label :language_spoken %>
    <%= f.text_field :language_spoken %>
  </p>
  <p>
    <%= f.submit 'Update country' %>
  </p>
<% end %>